*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-sky{
    background-image: linear-gradient(#84DFFF, #B3541E);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}


.globo1{
    background-image: url(red-b.png);
    width: 80px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 405px;
    left: 50px;
}


.globo2{
    background-image: url(lila-b.png);
    width: 80px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 405px;
    left: 150px;
}


.globo3{
    background-image: url(yellow-b.png);
    width: 80px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 465px;
    left: 280px;
}


.globo4{
    background-image: url(lila-b.png);
    width: 80px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 405px;
    left: 900px;
}


.globo5{
    background-image: url(red-b.png);
    width: 80px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 505px;
    left: 1000px;
}


.globo6{
    background-image: url(blue-b.png);
    width: 80px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 500px;
    left: 1150px;
}

.forest{
    background-image: url(forest.png);
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    
}

.clown{
    background-image: url(clown.png);
    width: 200px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
    position: relative;
    top: 300px;
    right: -550px;
}

/* ?\ 
.rainbow{
    background-image: url(rainbow.png);
    width: 258px;
    height: 350px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 200px;
    left: 530px;
}
*/

.cont-tituloEventos{
    position: absolute;
    top: 30px;
    left: 430px;
    padding: 0;
    margin: 0;
}

.cont-tituloEventos h1{
    color: #E60965;
    z-index: 10;
    font-family: 'Henny Penny', cursive;
    font-size: 40px;
    letter-spacing: 5px;
}